h1{
    font-family: “Arial”, Arial, sans-serif;;
}

.foto{
    position:relative;
}

a:hover{
	color: hotpink;
}

.redes{
    position: sticky;
    margin-left: 1800px;
    background-color: gold;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
}

.estudios{
    position: sticky;
    margin-left: 1800px;
    background-color: gold;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
}

.experiencia{
    position: sticky;
    margin-left: 1800px;
    background-color: gold;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
}

section{
    text-align: center;
}